body {
  background-color: rgb(253, 251, 251);
  width: 100%;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1366px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.25em;
}

/* início cabeçalho de título */
#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(17, 16, 70);
  color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 1px;
  min-width: 600px;
  max-width: 1366px;
}

#titulo {
  font-family: Arial, Helvetica, sans-serif;
}

/* fim cabeçalho de título */

/* início navegador de links superior menuNav */
#menuNav {
  width: 100%;
  background-color: rgb(30, 29, 95);
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  top: 80px;
  position: fixed;
  min-width: 600px;
  max-width: 1366px;
}

#links_trybe a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
}

.botaoNav {
  padding: 10px;
  border-radius: 10px;
  margin: 1%;
  box-shadow: 1px 1px 12px rgb(0 0 0 / 90%);
  background-color: rgb(30, 29, 95);
}

#links_trybe li {
  list-style: none;
  display: inline;
}

/* fim navegador de links superior */

/* início Sobre mim */
#aboutMe {
  background-color: rgb(17, 16, 70);
}

/* início bloco da foto */
.left {
  display: inline-block;
  width: 675px;
  max-width: 100%;
  height: 380px;
  margin-top: 150px;
}

#minha_foto {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  display: block;
  width: 450px;
  margin-top: 20px;
}

/* início bloco da tabela */
#div_table {
  display: inline-block;
  width: 675px;
  height: 380px;
  max-width: 100%;
}

tr , th , td {
  border: 1px solid rgba(30, 29, 95, 0.821);
  color: white;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 1%;
  padding: 3px;
  text-align: center;
}

#table {
  display: block;
  width: 374px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

/* fim Sobre mim */

/* início listas */
.lista_esquerda , .lista_direita {
  display: inline-block;
  width: 675px;
  max-width: 100%;
  height: 275px;
  text-align: center;
  color: rgb(30, 29, 95);
  padding-top: 60px;
}

.lista_esquerda h2 , .lista_direita h2 {
  color: rgb(17, 16, 70);
  padding-left: 25px;
}

/* fim listas */

/* início artigo e aside */
.lado-esquerdo {
  display: inline-block;
  width: 900px;
  max-width: 95%;
  margin-left: 15px;
  height: 300px;
  padding-top: 60px;
}

article {
  font-size: 1.25em;
  line-height: 1.25;
  text-align: justify;
  color: rgb(17, 16, 70);
}

.lado-direito {
  display: inline-block;
  width: 275px;
  margin-left: 150px;
}

aside {
  font-style: italic;
  display: block;
  text-align: justify;
  font-size: 1em;
  color: rgb(30, 29, 95);
  padding-top: 60px;
  vertical-align: text-top;
}

/* fim artigo e aside */

/* início rodapé */
#rodape {
  background-color: rgb(17, 16, 70);
  color: white;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#redesSociais a {
  padding-left: 1px;
  padding-right: 2%;
  float: right;
}

/* fim rodapé */
